entrypoint = "Template/wrapperTemplate/main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["sem"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "Template/wrapperTemplate/main.py"]
deploymentTarget = "cloudrun"
